{% extends "base.html" %}
{% load static %}

{% block title %}Инструкция отправлена{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-form-card text-center">
        <h2 class="mb-4">Инструкция отправлена</h2>
        <p class="text-muted">
            Мы отправили вам письмо для сброса пароля. Если вы его не получили, проверьте папку "Спам".
        </p>
        <a href="{% url 'main:index' %}" class="btn btn-dark mt-3">Вернуться на главную</a>
    </div>
</div>
{% endblock %}